{% extends '/blogs/main_layout.html' %}

{% block title %}
    <h3>{{blog.title}}</h3>
    <small>By<i> {{blog.auther}}</i></small>
{% endblock title %}

{% block links %}
    <a href="/"><i class="fa fa-home"></i></a>
    <a href="/bloglist"><i class="fa fa-list"></i></a>
{% endblock links %}

{% block content %}
    <div class="bloglist blogpage">
        <div class="details">
            <h3 class="title">{{blog.title}}</h3>
        </div>
        <div class="blogcontent">
            {% for paragraph in blog.content %}
                <p class="header">{{paragraph.header}}</p>
                <p class="snippet">{{paragraph.paragraph}}</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}