<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/bug.png')}}" type="image/x-icon">
    <title>CodeBug</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/blogs/blogs.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.min.css')}}">
    
</head>
<body>
    <div class="topnav">
        <div class="brand">
            {% block title %}{% endblock %}
        </div>
        <div class="links">
            {% block links%}{% endblock %}
        </div>
    </div>
    <section class="content">
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>