<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.min.css')}}">
</head>
<body>
    <section class="landing">
        <div class="card">
            <h1>404</h1>
            <p>CodeBug experienced an internal error</p>
            <small>Please try again latter</small>
        </div>
        <canvas id="animation" height="200px" width="200px">

        </canvas>
    </section>
    <script src="{{ url_for('static',filename='js/animations.js')}}"></script>
</body>
</html>