<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/bug.png')}}" type="image/x-icon">
    <title>CodeBug</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.min.css')}}">
</head>
<body>
    <div class="topnav">
        <div class="brand">
            <h3>CodeBug</h3>
        </div>
        <div class="links">
            <a href="/bloglist"><button class="btn">Blogs</button></a>
            <a href="#about"><button class="btn">About</button></a>
            <a href="#contacts"><button class="btn">Contacts</button></a>
        </div>
    </div>
    <section class="landing" style="background-image:url({{ url_for('static',filename='images/code.jpeg') }});">
        <div class="cont_middle">
            <div class="card">
                <h3 class="title">Hello World</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem explicabo modi harum delectus, asperiores in facilis deleniti quaerat perspiciatis labore voluptate accusantium doloribus. Veritatis, dignissimos. Praesentium sunt nobis ab impedit?</p>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="cont_middle">
            <h3 class="title">About CodeBug</h3>
            <p class="text">
                Another tech blog!! Yes I know your eyes rolled loud enough that I can hear them. But hear me out codebug is a blog for absolute beginners in software development and I will help you out on any tech questions to the best of my understanding. I don't just do tech blogs but there will be some juicy blogs here and there so stay tuned. I would have added a like,subsribe and thumbs down button but hey I am just a beginner :)
            </p>
            <img src="{{ url_for('static',filename='images/bug.png') }}" class="icon">
        </div>
    </section>
    <section class="contacts" id='contacts'>
        <div class="container">
            <h3 class="title">Contacts</h3>
            <table class="contacts">
                <tr><td><i class="fab fa-twitter"></i></td><td>@tonnymacoin</td></tr>
                <tr><td><i class="fab fa-facebook-f"></i></td><td>TonnyMacoin</td></tr>
                <tr><td><i class="fab fa-instagram"></i></td><td>tonnymacoin</td></tr>
                <tr><td><i class="fab fa-reddit-alien"></i></td><td>r/o_sider</td></tr>
                <tr><td><i class="fab fa-github"></i></td><td>kaigikinyua</td></tr>
            </table>
        </div>
    </section>
</body>
</html>